body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    top: 0;
    left:0;
    display: flex;
    width: 100%;

}
.navigation{
    
    float:right;
    width: 100%;
    position:relative;
    text-align: center;
    margin-top: 24px;
}  

.navigation a{
    padding-left: 50px;
    justify-content: space-between;
    font-size: 12px;
    text-decoration: none;
    color: black;
}
.navigation a:hover{
    color: darkorange;
}
.navigation a::before{
    width: 100%;
    color: orange;
}
section {
    padding: 20px 90px;
    }
    
        
    


    